<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <h1>Editar Cliente</h1>
    <div class="container-form">
        <form action="/edit/<%= client.identification %>" method="post">
            <label for="identification">Identificacion:</label>
            <input type="text" id="identification" name="identification" value="<%= client.identification %>" readonly required><br>
            <label for="identificationType">Tipo documento:</label>
            <input type="text" id="identificationType" name="identificationType" value="<%= client.identificationType %>" readonly required><br>
            <label for="name">Nombres:</label>
            <input type="text" id="name" name="name" value="<%= client.name %>" readonly required><br>
            <label for="lastName">Apellidos:</label>
            <input type="text" id="lastName" name="lastName" value="<%= client.lastName %>" readonly required><br>
            <label for="birthDate">Fecha nacimiento:</label>
            <input type="text" id="birthDate" name="birthDate" value="<%= client.birthDate %>" readonly required><br>
            <label for="cellphone">Celular:</label>
            <input type="text" id="cellphone" name="cellphone" value="<%= client.cellphone %>" pattern="[0-9]+" maxlength="20" required><br>
            <label for="email">Correo:</label>
            <input type="text" id="email" name="email" value="<%= client.email %>" maxlength="80" required><br>
            <button class="save" type="submit">Guardar</button>
        </form>
        <button class="cancel" onclick="window.location.href='/'">Cancelar</button>
    </div>
</body>
</html>